<h1>Recipes & Allergies-R-Us</h1>
<img src="https://media3.giphy.com/media/l4Ep5b2YOTXFthsK4/giphy.gif">
<img src="https://media1.tenor.com/images/2c6479c148dfbe395089a93e8c726f87/tenor.gif?itemid=6016448">
<h2>Where ur fav recipes and the foods you're allergic to collide</h2>
<ul>
<li><h3><%= link_to "USERS", users_path %></h3></li>
<li><h3><%= link_to "RECIPES", recipes_path %></h3></li>
<li><h3><%= link_to "INGREDIENTS", ingredients_path %></h3></li>
</ul>
